* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 20px;
    background: linear-gradient(90deg, rgb(208, 208, 247) 0%, rgb(86, 86, 247));
    text-align: center;
    color: white;
}

.large-font-search {
    font-size: 30px;
}

.hide {
    display: none;
}

.currentWeather {
    width: 45px;
    height: 45px;
}

.large-font{
    font-size: 35px;
}

img {
    margin-bottom: 16px;
}

.bg-secondary {
    background: linear-gradient(90deg, rgb(142, 142, 228) 0%, rgb(86, 86, 247));
}

.day > p, h3{
    color: white;
}