/* universal styling reset */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/* styling for header */
header {
    width: 100%;
    padding: 20px;
    background: linear-gradient(90deg, rgb(208, 208, 247) 0%, rgb(86, 86, 247));
    text-align: center;
    color: white;
}

/* creates larger font text for search area header */
.large-font-search {
    font-size: 30px;
}

/* hides weather data intitially */
.hide {
    display: none;
}

/* controls current weather icon sizing */
.currentWeather {
    width: 45px;
    height: 45px;
}

/* creates larger font for current weather */
.large-font{
    font-size: 35px;
}

/* styles image spacing */
img {
    margin-bottom: 16px;
}

/* styles background for forcast cards and search button */
.bg-secondary {
    background: linear-gradient(90deg, rgb(142, 142, 228) 0%, rgb(86, 86, 247));
}

/* styles text color for each forcast day */
.day > p, h3{
    color: white;
}